body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto;
}

h1 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select, button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 14px;
}

thead {
    background-color: #007bff;
    color: white;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
}

th button.sort {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 14px;
}

th button.sort .arrow {
    font-size: 12px;
    margin-left: 5px;
}

th button.sort:hover {
    text-decoration: underline;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

button.edit, button.delete {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    color: white;
    font-size: 14px;
    margin: 2px;
}

button.edit {
    background-color: #ffc107;
}

button.delete {
    background-color: #dc3545;
}

button.edit:hover {
    background-color: #e0a800;
}

button.delete:hover {
    background-color: #c82333;
}

table th:nth-child(8), /* Index basé sur l'ordre des colonnes, ajustez si nécessaire */
table td:nth-child(8) {
    min-width: 150px; /* Ajustez la largeur minimale selon vos besoins */
    word-wrap: break-word; /* Assure que le texte long est cassé pour s'ajuster */
}